container {
  .headline {
    position: relative;

    img {
      max-width: 100%;
    }

    .newGameButton {
      display: inline-block;
      position: relative;
      top: -45px;
      background: #fff;
      border-radius: 3px;
      padding: 3px;
    }
  }
  a {
    display: block;
  }
}