@-webkit-keyframes slideInCard {
  0% {top: 100px;}
  25% {}
  50% {top: 0px;}
  75% {}
  100% {top: 0px;}
}

@-webkit-keyframes slideOutCard {
  0% {top: 0px;}
  25% {}
  50% {top: 100px; }
  75% {}
  100% {top: 100px;}
}

@-moz-keyframes slideInCard {
  0% {top: 100px;}
  25% {}
  50% {top: 0px;}
  75% {}
  100% {top: 0px;}
}

@-moz-keyframes slideOutCard {
  0% {top: 0px;}
  25% {}
  50% {top: 100px; }
  75% {}
  100% {top: 100px;}
}

@keyframes slideInCard {
  0% {top: 100px;}
  25% {}
  50% {top: 0px;}
  75% {}
  100% {top: 0px;}
}

@keyframes slideOutCard {
  0% {top: 0px;}
  25% {}
  50% {top: 100px; }
  75% {}
  100% {top: 100px;}
}

component {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  height: 75px;
  margin: 5px 0;
  overflow: hidden;
  border-bottom: solid 2px #ccc;

  .cardRound {
    position: relative;

    & > span {
      display: flex;
    }
  }

  .cardRound.dealCardRound-enter {
    position: absolute;
  }

  .cardRound.dealCardRound-enter-active {
    animation: slideInCard 1s;
  }

  .cardRound.dealCardRound-leave {
    animation: slideOutCard 1s;
  }

  .cardRound.dealCardRound-leave-active {
    animation: slideOutCard 1s;
  }

  .card.dealCard-appear, .card.dealCard-enter {
    top: 100px;
  }

  .card.dealCard-appear-active, .card.dealCard-enter-active {
    animation: slideInCard 2s;
  }

  .card.dealCard-leave {
    top: 0px;
  }

  .card.dealCard-leave-active {
    animation: slideOutCard 2s;
  }
}

@media (max-width: 600px) {
  component {

  }
}