component {

  display: inline-block;
  width: 250px;
  background: #fff;
  box-shadow: 3px 3px 9px #ccc;
  margin: 5px;

  &.active {
    background: lightgreen;
  }

}

@media (max-width: 600px) {
  component {

  }
}