component {
  position: relative;

  .historyItems {
    display: inline-block;
    width: 45px;
    padding: 3px 3px;

    .historyItem {
      border: solid 1px #ccc;
      display: block;
      height: 45px;
      font-size: 20px;
      color: #000;
      text-shadow: 0 0 5px #fff;

      &.buyStart {
        background: #fff url('/assets/history/buy-phase.png') no-repeat center center;
        background-size: contain;
      }

      &.bid {
        background: #fff url('/assets/history/bid.png') no-repeat center center;
        background-size: contain;
      }

      &.pass.midRound {
        background: #fff url('/assets/history/pass-mid.png') no-repeat center center;
        background-size: contain;
      }

      &.pass.endOfRound {
        background: #fff url('/assets/history/pass-end.png') no-repeat center center;
        background-size: contain;
      }

      &.sellStart {
        background: #fff url('/assets/history/sell-phase.png') no-repeat center center;
        background-size: contain;
      }

      &.sell {
        background: #fff url('/assets/history/sale.png') no-repeat center center;
        background-size: contain;
      }

      &.gameOver {
        background: #fff url('/assets/history/game-over.png') no-repeat center center;
        background-size: contain;
      }
    }
  }

  .historyItemDetail {
    position: absolute;
    top: 10px;
    left: 60px;
    background: #fff;
    box-shadow: 3px 3px 15px #666;
    max-width: 250px;
    min-width: 100px;
    min-height: 50xp;
    padding: 5px 5px;
  }
}