component {

  header {
    text-align: left;
    color: #eee;
    background: lightblue;
    padding: 0 25px;
    position: relative;
    border-bottom: solid 1px #43AAFF;

    a:link, a:visited {
      color: white;
      text-decoration: none;

      &:hover {
        color: #ccc;
      }
    }

    img {
      height: 35px;
    }
  }

  .helpLink {
    margin-right: 25px;
    background: rgba(55,55,55,.5);
    padding: 0 20px;
  }

  .prefLink, .helpLink {
    float: right;
    line-height: 39px;
    cursor: pointer;

    &:hover {
      color: #43AAFF;
    }
  }
}

@media (max-width: 600px) {
  component {
    header {
      padding: 0 10px 0 0;
    }
  }
}