component {

  header {
    text-align: left;
    color: #eee;
    background: #0D3D65;
    padding: 0 25px;
    position: relative;

    a:link, a:visited {
      color: white;
      text-decoration: none;

      &:hover {
        color: #ccc;
      }
    }

    background: url('/assets/headline.png')no-repeat bottom center;
    background-size: cover;

    h1 {
      display: inline-block;
      margin: 0;
      padding: 0;
      letter-spacing: 5px;
      text-shadow: 0 0 3px #000;
      height: 35px;
      line-height: 35px;
    }
  }

  .prefLink {
    float: right;
    line-height: 30px;

    &:hover {
      color: #43AAFF;
    }
  }
}

@media (max-width: 600px) {
  container {
    header {
    }
  }
}