component {

  display: inline-block;
  text-align: center;
  border: solid 1px #ccc;
  line-height: 75px;
  margin: 0 5px;
  width: 50px;
  font-size: 36px;
}

@media (max-width: 600px) {
  component {

  }
}