component {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  height: 75px;
  margin: 3px 5px;
  overflow: hidden;
  border-bottom: solid 2px #ccc;
  flex-grow: 0;
  display: inline-block;
  position: relative;
  text-align: center;
  border: solid 1px #ccc;
  line-height: 75px;
  margin: 0 5px;
  width: 50px;
  font-size: 36px;

  &:after {
    content: ' ';
    display: inline-block;
    width: 50px;
    height: 25px;
    position: absolute;
    bottom: -5px;
    left: 0;
  }

  &.buy {
    background: #0D3D65;
    color: #fff;

    &:after {
      background: url('/assets/peeking.png') no-repeat;
      background-size: contain;
    }
  }

  &.sell {
    background: darkgreen;
    color: #fff;
    font-size: 24px;

    &:after {
      background: url('/assets/luckycat.png') no-repeat;
      background-size: contain;
    }
  }

  &.small {
    height: 35px;
    width: 25px;
    line-height: 35px;
    font-size: 14px;
    margin: 0 3px;
    height: 35px;

    &:after {
      width: 25px;
      bottom: -12px;
    }
  }
}

@media (max-width: 600px) {
  component {

  }
}